* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/images/back.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Opens sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.title {
    color: #f709e7;
    margin: 20vh auto;
    font-size: calc(5vw + 20px);
    text-shadow: 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black;
}

.container {
    width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.key {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #000000bb;
    color: #fff;
    font-size: calc(3vw + 20px);
    border: 3px solid #fff;
    user-select: none;
    transition: transform 0.2s;
    cursor: pointer;
}

.key:hover {
    color: #aaa7a7;
    border-color: #aaa7a7;
}

.active {
    transform: scale(1.3);
    border-color: #f709e7;
    box-shadow: 0 0 50px #f709e7;
}